@use '../../styles/_variables' as *;
.collapse {
  width: 100%;
  padding-top: 30px;
}
.collapse-btn {
  display: flex;
  flex-direction: row;
  height: 52px;
  padding: 0 12px;
  background-color: rgba(255, 96, 96, 1);
  border: none;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.collapse-btn .btn-name {
  font-size: 18px;
  text-align: left;
  font-family: $font-family-base;
  font-weight: 700;
  font-style: normal;
  color:$color-white;
}

.collapse-btn .arrow-icon {
  width: 24px;
  height: 13px;
}
.collapse-panel {
  background-color: rgba(246, 246, 246, 0.45);
  height: auto;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 20px 24px;
}

.collapse-panel ul {
  margin: 0;
  list-style: none;
}

.collapse-panel li {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.5;
}
.collapse-panel p {
  margin: 0 0 10px;
  font-size: 20px;
  line-height: 1.6;
  color: $text-color;
  white-space: normal;
  word-break: normal;
  overflow-wrap: anywhere;

  &.center {
    text-align: center;
  }
}
.arrow-icon{
  width: 24px;
  height:auto;
  transition:transform 0.3s ease;
}
.arrow-icon.rotated {
    transform:rotate(-180deg);
}